body {
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2rem 0.5rem;
    border: 10px solid black;
}
#neel {
    background: linear-gradient(to right, #819ff9, transparent 100%);
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
}
.red {
    background-color: #d95980;
}
.yellow {
    background-color: #f99b45;
}
.green {
    background-color: #63aac0;
}
.purple {
    background-color: #819ff9;
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}